body
  margin: 0

  #app
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #2c3e50

  h1, h2, h3, h4, h5
    margin: 0

  img
    display: inline-block
    width: 50px
    height: 50px

  ul
    list-style-type: none
    padding: 0
    margin: 0
    text-align: left
