@import './mixins'

.columns
  background-color: #e8e3e3
  padding: 20px 10px
  height: calc(100vh - 100px)

  &-list
    @include list

    .drag-wrapper
      @include list

      &:hover
        cursor: pointer

    &-item
      background-color: darkgray
      margin-left: 10px
      min-width: 150px
      max-width: 250px
      @include block

      &:hover .menu
        display: block

    input
      width: 100%
      box-sizing: border-box
      margin: 5px 0
      @include block

    .btn
      @include block

      &:hover
        cursor: pointer
        background-color: white
        transition: 0.5s

  &-add
    &:hover
      cursor: pointer
