<template>
  <div id="app">
    <task-header />
    <columns-list />
  </div>
</template>

<script>
import TaskHeader from '@/components/TaskHeader.vue'
import ColumnsList from '@/components/ColumnsList.vue'

export default {
  name: 'app',
  components: {
    TaskHeader,
    ColumnsList
  }
}
</script>

<style lang="sass">
@import './assets/styles/app.sass'
</style>
