<template>
 <div>
   <draggable v-model="cards"
     :options="{group: 'card'}"
     @change="moveCard"
     class="drag">
       <div v-for="card in cards" :key="card.position" class="card">
         <h3>{{ card.title }}</h3>
         <span>{{ card.description }}</span>
       </div>
   </draggable>
   <input type="text"
     v-model="newCardName"
     @blur="showAddCard = false"
     v-show="showAddCard"
     ref="cardInput"
     placeholder="Card name"
     autofocus />

   <div @mousedown="addCard()" v-show="showAddCard" class="btn">add card</div>
   <div @click="showAddingCard" v-show="!showAddCard" class="btn">+ add card</div>
 </div>
</template>

<script>
import CardService from '@/services/CardService'
import draggable from 'vuedraggable'
import store from './../store'

export default {
  name: 'CardsList',
  props: [ 'columnId', 'columnCards' ],
  components: {
    draggable
  },
  data () {
    return {
      newCardName: '',
      showAddCard: false,
      isDrag: false
    }
  },
  computed: {
    cards: {
      get () {
        return this.columnCards
      },
      set (cards) {
        return store.commit('SET_CARDS', { id: this.columnId, cards: cards })
      }
    }
  },
  methods: {
    async addCard () {
      this.showAddCard = false

      try {
        const response = await CardService.add(this.columnId, { title: this.newCardName })
        store.commit('ADD_CARD', { columnId: this.columnId, card: response.data })
      } catch (e) {
        console.log(e)
      }
    },
    showAddingCard: function () {
      this.showAddCard = true
      this.$nextTick(() => {
        this.$refs.cardInput.focus()
      })
    },
    async moveCard (obj) {
      try {
        console.log(obj)
        if (obj.added) {
          const cardId = obj.added.element._id
          const index = obj.added.newIndex
          await CardService.move(this.columnId, { cardId: cardId, index: index })
        } else if (obj.removed) {
            const cardId = obj.removed.element._id
            await CardService.removeFromColumn(this.columnId, cardId)
        } else {
            const cardId = obj.moved.element._id
            const from = obj.moved.oldIndex
            const to = obj.moved.newIndex
            await CardService.moveInsideColumn(this.columnId, cardId, { from: from, to: to })
        }
      } catch (e) {
          console.log(e)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/cards-list.sass'
</style>