<template>
  <div class="columns">
    <div class="columns-list">
      <draggable v-model="columns" :options="{group: 'column'}" @change="moveColumn" class="drag-wrapper">
        <column v-for="(column, i) in columns"
          :key="column.position"
          :column="column"
          :index="i"
          class="columns-list-item" />
      </draggable>

      <div class="columns-list-item columns-add">
        <input type="text"
          v-model="newColumnName"
          v-show="showAddColumn"
          @blur="showAddColumn = false"
          placeholder="Column name"
          ref="columnInput" />

        <div @click="showAddingColumn" v-show="!showAddColumn" class="btn">+ add column</div>
        <div @mousedown="addColumn" v-show="showAddColumn" class="btn">+ add list</div>
      </div>
    </div>
  </div>
</template>

<script>
import store from './../store'
import ColumnService from '@/services/ColumnService'
import Column from './Column'
import draggable from 'vuedraggable'

export default {
  name: 'ColumnsList',
  components: {
    Column,
    draggable
  },
  data () {
    return {
      showAddColumn: false,
      newColumnName: ''
    }
  },
  computed: {
    title: { get () { return store.state.title } },
    columns: {
      get () {
        return store.getters.columns
      },
      set (columns) {
        return store.commit('SET_COLUMNS', columns)
      }
    }
  },
  created () {
    store.dispatch('loadDesk')
  },
  methods: {
    showAddingColumn: function () {
      this.showAddColumn = true
      this.$nextTick(() => {
        this.$refs.columnInput.focus()
      })
    },
    async addColumn () {
      if (!this.newColumnName) { return }

      try {
        const column = { title: this.newColumnName, cards: [] }
        const response = await ColumnService.add({ column: column })
        await store.commit('ADD_COLUMN', response.data)
        this.newColumnName = ''
      } catch (e) {
        console.log(e)
      }
    },
    async moveColumn (obj) {
      const id = obj.moved.element._id
      const newIndex = obj.moved.newIndex
      const oldIndex = obj.moved.oldIndex
      console.log(obj)

      await ColumnService.move(id, { from: oldIndex, to: newIndex })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
@import './../assets/styles/columns-list.sass'
</style>
