<template>
  <div>
    <div class="title">
      <h2>{{ column.title }}</h2>
      <font-awesome-icon icon="times" @click="deleteColumn()" class="menu" />
    </div>

    <cards-list :columnId="column._id" :columnCards="column.cards" />
  </div>
</template>

<script>
import store from './../store'
import ColumnService from '@/services/ColumnService'
import CardsList from './CardsList'

export default {
  name: 'column',
  props: [ 'column', 'index' ],
  components: {
    CardsList
  },
  methods: {
    async deleteColumn () {
      try {
        await ColumnService.delete(this.column._id)
        store.commit('DELETE_COLUMN', this.index)
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/column'
</style>