<template>
  <header>
    <div>My task manager</div>
    <img alt="Vue logo" src="./../assets/logo.png">
  </header>
</template>

<script>
export default {
  name: 'Task-header',
}
</script>

<style lang="sass" scoped>
@import './../assets/styles/header.sass'
</style>